.recipe-container {
  margin: .4rem;
  transition: 0.3s;
  border-radius: 5px;
}

.recipe-container:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.7);
  transform: translateY(-2px);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content:  center;
  width: 20rem;
  background-color: beige;
  border-radius: 5px;
}

.recipe-img { 
  filter: brightness(50%);
  width: inherit;
  border-radius: 5px;
}

.recipe-img:hover {
  filter: brightness(60%)
}

.recipe-text {
  position: absolute;
  z-index: 10;
  color: #EBE9D6;
  font-size: 1.2rem;
}

.favorite-star {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 5;
  color: gold;
}

/* .favorite-star:hover {
  transform: translateY(-2px);

} */

