.favorite-star {
  width: auto;
  height: 4%;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  z-index: 5;
}

.recipe-container {
  width: 20rem;
  height: 30rem;
  padding: 20px;
  align-items: center;
  transition: 0.3s;
  background-color: beige;
  border-radius: 5px;
  margin: 10px;
  /* // display: flex;
  // justify-content: space-around; */
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}